
  <div class="container custom-container-2">

        <!-- Show it when there is no activities -->
        <div class="no-data text-center" *ngIf="organisations.length == 0">
          <p>There are no organisations added yet!</p>
          <button class="btn btn-outline-primary" routerLink="/">Add Organisation</button>
        </div>
      
        <!-- activities list table, it hides when there is no employee -->
        <div *ngIf="organisations.length !== 0">
          <h3 class="mb-3 text-center">Organisations List</h3>
      
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">is_active</th>
                    <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let organisation of organisations.organisations">
                        <td> {{ organisation.id }} </td>
                        <td> {{ organisation.code }} </td>
                        <td> {{ organisation.name }} </td>
                        <td> {{ organisation.description }} </td>
                        <td> {{ organisation.is_active }} </td>
                  <td>
                    <span class="edit" routerLink="/updateorganisation/{{organisation.id}}">Edit</span>
                    <!-- <span class="delete" (click)="deleteEmployee(activity.id)">Delete</span> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      
