<h1>
    Activities List
    </h1>
    <div>
    <table  style="width:100%">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>OD</th>
        <th>ES</th>
        <th>EF</th>
        
    </tr>
    <tr *ngFor="let activity of activities.activities">
        <td> {{ activity.id }} </td>
        <td> {{ activity.code }} </td>
        <td> {{ activity.name }} </td>
        <td> {{ activity.od }} </td>
        <td> {{ activity.es }} </td>
        <td> {{ activity.ef }} </td>
    </tr>
    </table>
    
    </div>
  