
  <div class="container custom-container-2" >

        <!-- Show it when there is no activities -->
        <div class="no-data text-center" *ngIf="activities.activities.length == 0">
          <p>There are no activities added yet!</p>
          <button class="btn btn-outline-primary" routerLink="/">Add Activity</button>
        </div>
      
        <!-- activities list table, it hides when there is no employee -->
        <div *ngIf="activities.activities.length !== 0" >
          <h3 class="mb-3 text-center">Activities List</h3>
      
          <div class="dash-table-container" style="max-height: 500px; overflow: scroll;">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th scope="col">ID
                      <i class="fas fa-sort-amount-down sorting-icon"></i>
                      <i class="fas fa-sort-amount-up sorting-icon" style="display: none;"></i>
                      <i class="fas fa-sort sorting-icon" style="display: none;"></i>
                    </th>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">OD</th>
                    <th scope="col">ES</th>
                    <th scope="col">EF</th>
                    <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let activity of activities.activities; let id = index;" [routerLink]="['detail',activity.id]"  >
                    <td> 
                      
                        {{ activity.id }}
                      
                    </td>
                    <td> 
                      
                        {{ activity.code }} 
                    </td>
                    <td> 
                        {{ activity.name }} 
                    </td>
                    <td> 
                        {{ activity.od }}
                    </td>
                    <td>
                        {{ activity.es | date:'d-LLL-y' }} 
                    </td>
                    <td> 
                          {{ activity.ef | date:'d-LLL-y'}} 
                    </td>
                    <td>
                    <span class="edit" (click)="openFormModal(activity)">Edit</span>
                    <!-- <span class="delete" (click)="deleteEmployee(activity)">Delete</span> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      <router-outlet></router-outlet>
