<h1>
  Organisations List
  </h1>
  <div>
  <table  style="width:100%">
  <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>is_active</th>
      
  </tr>
  <tr *ngFor="let organisation of organisations.organisations">
      <td> {{ organisation.id }} </td>
      <td> {{ organisation.code }} </td>
      <td> {{ organisation.name }} </td>
      <td> {{ organisation.description }} </td>
      <td> {{ organisation.is_active }} </td>
  </tr>
  </table>
  
  </div>
